*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1b1717;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes pulse {
  from {
    padding: 60px 60px;
    opacity: 1;
  }
  to {
    padding: 100px 100px;
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    padding: 60px 60px;
    opacity: 1;
  }
  to {
    padding: 100px 100px;
    opacity: 0;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #1b1717;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.text-ornament {
  position: relative;
  color: #810000;
  font-size: 1.8em;
  letter-spacing: -0.3rem;
  margin-right: 0.2rem;
  z-index: 900;
}

.section__heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.section__heading-ornament {
  position: relative;
  top: 1px;
  color: #810000;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.isactive {
  display: block;
}

.photo-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(12, 14, 26, 0.185);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url("../img/hero-img-small-2.jpg");
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
  z-index: 500;
}

.header__hamburger {
  position: fixed;
  top: 0.6em;
  left: 0.6em;
  z-index: 1000;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 14, 26, 0.6);
  z-index: 100;
}

.header__heading {
  width: 100%;
  margin-top: 5vh;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  z-index: 300;
}

.header__text {
  width: 100%;
  margin-top: -1rem;
  text-align: center;
  font-size: 2rem;
  z-index: 300;
}

.header__btn {
  position: absolute;
  bottom: 10%;
  width: 120px;
  height: 120px;
  display: block;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 250;
}

.header__btn-arrow {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}

.header__btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  padding: 100px 100px;
  border: 1px solid red;
  border-radius: 50%;
  -webkit-animation: pulse 2.5s infinite;
          animation: pulse 2.5s infinite;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-desctop {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 70vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 8rem;
  padding-left: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  width: auto;
  margin: 0.6em 0.4em;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b1717;
}

.nav__item:hover {
  color: #810000;
}

.nav__icon {
  position: relative;
  top: 12%;
  width: 10%;
  margin-right: 1rem;
}

.aboutme {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0rem 2rem;
  overflow: hidden;
}

.aboutme .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutme__img {
  width: 100%;
  height: 50vh;
  background-image: url("../img/wo-am-i-pt1-small.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  margin-bottom: 3rem;
  border-radius: 8px;
}

.aboutme__hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutme__red-mdash {
  width: 5rem;
  height: 4px;
  margin-top: 3rem;
  margin-right: 2rem;
  background-color: #810000;
}

.aboutme__heading {
  width: 100%;
  margin-left: 2rem;
  font-size: 3rem;
  z-index: -1;
}

.aboutme__heading-text {
  width: 70%;
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

.aboutme__heading-text:first-letter {
  font-size: 4rem;
}

.aboutme__text {
  text-align: justify;
}

.aboutme-stage2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0rem 2rem;
  overflow: hidden;
}

.aboutme-stage2 .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutme-stage2__img {
  display: none;
}

.aboutme-stage2__hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutme-stage2__red-mdash {
  width: 5rem;
  height: 4px;
  margin-top: 3rem;
  margin-right: 2rem;
  background-color: #810000;
}

.aboutme-stage2__heading {
  width: 100%;
  margin-left: 2rem;
  font-size: 3rem;
  z-index: -1;
}

.aboutme-stage2__heading-text {
  width: 70%;
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

.aboutme-stage2__heading-text:first-letter {
  font-size: 4rem;
}

.aboutme-stage2__text {
  text-align: justify;
  margin-bottom: 3rem;
}

.aboutme-stage2__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-stage2__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  background-color: lightgray;
  color: #1b1717;
  border-radius: 4px;
}

.aboutme-stage2__label-name {
  font-size: 1rem;
}

.albums {
  padding: 0 2rem 2rem 2rem;
}

.albums .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.albums__heading {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.albums__heading-ornament {
  position: relative;
  top: 1px;
  color: #810000;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.albums__album {
  position: relative;
  height: 88vw;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
}

.albums__album:hover {
  cursor: pointer;
}

.albums__album:hover .albums__album-title {
  color: #810000;
}

.albums__album:hover .albums__album-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.albums__album--one {
  background-image: url("../img/Cover-1.jpg");
}

.albums__album--two {
  background-image: url("../img/Cover-2.jpg");
}

.albums__album-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  z-index: 3;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.albums__album-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.albums .songs-list {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 80vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-top: -3rem;
  padding-top: 1.2rem;
  margin-bottom: 2rem;
  overflow: scroll;
  border-radius: 0 0 8px 8px;
  z-index: 1;
}

.albums .songs-list .player {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  color: #000;
}

.albums .songs-list .player__icon {
  width: 160%;
  padding: 0.5rem 0.5rem;
}

.albums .songs-list .player__song-name {
  margin-left: 2rem;
}

.albums .songs-list .player__song-time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.albums .songs-list .player__red-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background-color: #810000;
}

.albums .song {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1rem;
  padding: 1rem;
  color: #000;
}

.albums .song__number {
  margin-left: 2rem;
}

.albums .song__name {
  margin-left: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.albums .song__download-sample {
  padding: 1rem;
  width: 22%;
}

.albums .song__icon {
  width: 50%;
}

.albums .song__border-line {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #1b1717;
}

.albums .modal {
  display: none;
}

.albums .modal__bg {
  display: none;
}

.instruments {
  display: none;
}

.cooperation .wrapper {
  position: relative;
  margin-bottom: 3rem;
}

.slider-desctp {
  display: none;
}

.slider-mobile {
  position: relative;
  width: 90%;
  height: auto;
  margin: 8rem auto 0;
}

.slider-mobile__bg {
  width: 100%;
  padding-top: 6%;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: 1rem 2rem;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.slider-mobile__bg--1 {
  background-image: url("../img/musician1-s.jpg");
}

.slider-mobile__bg--2 {
  background-image: url("../img/musician2-s.jpg");
}

.slider-mobile__bg--3 {
  background-image: url("../img/musician3-s.jpg");
}

.slider-mobile__bg--4 {
  background-image: url("../img/musician4-s.jpg");
}

.slider-mobile__bg--5 {
  background-image: url("../img/musician5-s.jpg");
}

.slick-center {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contact {
  position: relative;
  width: 100%;
  padding: 3rem 2rem;
  margin-top: 2rem;
}

.contact__form {
  width: 100%;
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__form-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-textarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__form-textarea textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 18vh;
}

.contact__label {
  margin: 0.3rem 0;
}

.contact__input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: none;
  border: 1px solid #810000;
}

.contact__btn {
  margin-top: 1rem;
  padding: 1rem 4rem;
  background: none;
  color: #fff;
  border: 1px solid #810000;
}

.contact__btn:hover {
  background-color: #810000;
}

.footer {
  width: 100%;
  min-height: 150px;
  padding: 2rem;
  background-color: #0c0b0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.footer__column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 50%;
  padding-top: 22.5%;
  margin-bottom: 3rem;
  background-image: url("../img/nieszka.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center center;
}

.footer__socials {
  margin-bottom: 1rem;
}

.footer__socials a {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.footer__socials-heading {
  margin-bottom: 1rem;
}

.footer__underline {
  width: 80%;
  height: 1px;
  margin-bottom: 1rem;
  background-color: #fff;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact p {
  margin-bottom: 1rem;
}

.footer__contact span {
  color: #810000;
}

.footer__menu {
  display: none;
}

@media (max-width: 340px) {
  .nav__item {
    font-size: 1.6rem;
  }
}

@media (min-width: 360px) {
  .songs-list .player__icon {
    width: 180%;
    padding: 0.5rem 0.5rem;
  }
  .songs-list .player__song-name {
    margin-left: 2rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 420px) {
  .nav-mobile {
    width: 60vw;
  }
}

@media (min-width: 576px) {
  .nav-mobile {
    width: 45vw;
  }
  .header__heading {
    font-size: 5.5rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .aboutme__hello {
    padding-bottom: 3rem;
  }
  .aboutme__heading {
    font-size: 3.5rem;
  }
  .aboutme__heading-text {
    top: 7rem;
    left: 6rem;
  }
  .aboutme-stage2__labels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutme-stage2__label {
    width: 48%;
    margin: 1rem 0;
    padding: 5px;
  }
  .albums .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .albums__album {
    width: 44vw;
    height: 44vw;
  }
  .albums .songs-list {
    max-height: 44vw;
  }
  .album {
    width: 44vw;
  }
  .slick-center {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .contact__btn {
    padding: 1rem 6rem;
  }
  .footer {
    font-size: 1.8rem;
  }
  .footer__logo {
    width: 25%;
    padding-top: 12.5%;
  }
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 6rem;
  }
  .header {
    background-image: url(../img/hero-img-large-2.jpg);
    background-position-y: center;
  }
  .hamburger {
    display: none;
  }
  .nav-desctop {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #0c0b0b;
    color: #fff;
    z-index: 900;
  }
  .nav-mobile {
    display: none;
  }
  .nav__item {
    margin: 0 0;
    padding: 1.1rem 2rem 1.1rem 0.2rem;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: -0.08rem;
    border-left: 0.3rem solid transparent;
    -webkit-transition: border-left 0.6s;
    transition: border-left 0.6s;
  }
  .nav__item:hover {
    color: #fff;
    border-left: 0.3rem solid #810000;
  }
  .nav__item:first-child {
    margin-top: 0rem;
    margin-left: 1.4rem;
  }
  .header {
    letter-spacing: 0.3rem;
  }
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    margin-top: -2rem;
    font-size: 2.4rem;
  }
  .aboutme-stage2 .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutme-stage2__img {
    display: block;
    width: 48%;
    background-image: url("../img/wo-am-i-pt2-large.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  .aboutme-stage2__hello {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 52%;
    padding-left: 2rem;
  }
  .aboutme-stage2__label {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }
  .albums .wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .albums__album {
    width: 45vw;
    height: 45vw;
  }
  .albums .songs-list {
    display: none;
  }
  .albums .isactive {
    display: block;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80vw;
    height: 66vh;
    background-color: #dff6ff;
    border-radius: 8px;
    color: #000;
    z-index: 1000;
    overflow: hidden;
  }
  .modal__album-name {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #06283d;
    text-align: center;
    font-size: 4rem;
  }
  .modal__album-cover {
    position: absolute;
    left: -6%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 250px;
    height: 250px;
    background-image: url("../img/Cover-1.jpg");
    background-size: contain;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
  }
  .modal__album-cover--bg1 {
    position: absolute;
    left: 1%;
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #47b5ff;
    z-index: 1;
  }
  .modal__album-cover--bg2 {
    position: absolute;
    left: 1%;
    top: 55%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #1363df;
    z-index: 2;
  }
  .modal__songs-list {
    position: absolute;
    right: 0;
    top: 15%;
    width: 60%;
  }
  .mod-player {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .mod-player__icon {
    width: 200%;
  }
  .mod-player__red-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    margin-left: -1rem;
    background-color: #810000;
    border-radius: 25%;
  }
  .mod-song {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 1rem;
    margin: 1rem 0;
    font-size: 1.8rem;
  }
  .mod-song__icons {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mod-song__icon {
    padding: 0.5rem;
  }
  .mod-song__name {
    margin-left: 1rem;
  }
  .mod-song__border-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
  }
  .modal__bg {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .instruments {
    display: block;
  }
  .instruments .wrapper {
    position: relative;
    min-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 8rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  .instrument {
    width: 25%;
    padding-top: 13.5%;
    background: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
  }
  .instrument--bg1 {
    background-image: url("../img/keyboard.jpg");
  }
  .instrument--bg2 {
    background-image: url("../img/percussion.jpg");
  }
  .instrument--bg3 {
    background-image: url("../img/guitar.jpg");
  }
  .slider-mobile {
    display: none;
  }
  .slider-desctp {
    display: block;
    position: relative;
    width: 90%;
    height: auto;
    margin: 8rem auto 2rem;
  }
  .slider-desctp__bg {
    width: 25%;
    height: 20vh;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin: 1rem 1rem;
    -webkit-box-shadow: 5px 5px 10px black;
            box-shadow: 5px 5px 10px black;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
  }
  .slider-desctp__bg--1 {
    background-image: url("../img/musician1-l.jpg");
  }
  .slider-desctp__bg--2 {
    background-image: url("../img/musician2-l.jpg");
  }
  .slider-desctp__bg--3 {
    background-image: url("../img/musician3-l.jpg");
  }
  .slider-desctp__bg--4 {
    background-image: url("../img/musician4-l.jpg");
  }
  .slider-desctp__bg--5 {
    background-image: url("../img/musician5-l.jpg");
  }
  .slick-center {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .contact__form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__form-box {
    width: 49%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__btn {
    padding: 1.2rem 6rem;
    font-size: 1.8rem;
  }
  .footer {
    width: 100%;
    min-height: 150px;
    padding: 2rem;
    background-color: #0c0b0b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.8rem;
  }
  .footer__column-left {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column-left div:last-child {
    display: none;
  }
  .footer__logo {
    width: 25%;
    padding-top: 11.25%;
    margin-bottom: 0;
    background-image: url("../img/nieszka.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    background-position: center center;
  }
  .footer__socials {
    margin-bottom: 1rem;
  }
  .footer__socials a {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
  .footer__socials-heading {
    margin-bottom: 1rem;
  }
  .footer__underline {
    width: 80%;
    height: 1px;
    margin-bottom: 1rem;
    background-color: #fff;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contact p {
    margin-bottom: 1rem;
  }
  .footer__contact span {
    color: #810000;
  }
  .footer__menu {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
  }
  .footer__menu a {
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: #fff;
  }
  .footer__menu a:hover {
    border: 1px solid #810000;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  .nav__item {
    font-size: 2rem;
  }
  .header {
    letter-spacing: 0.4rem;
  }
  .header__heading {
    font-size: 10rem;
  }
  .header__text {
    font-size: 2.8rem;
  }
  .aboutme .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .aboutme__img {
    width: 50%;
    margin: 1rem 1rem;
    background-image: url("../img/wo-am-i-pt1-large.jpg");
    background-size: cover;
    background-position-x: center;
  }
  .aboutme__hello {
    width: 50%;
    margin: 1rem 1rem;
  }
  .aboutme__heading {
    margin-left: 2rem;
  }
  .aboutme-stage2__img {
    width: 40%;
    min-height: 400px;
  }
  .aboutme-stage2__red-mdash {
    margin-left: 2rem;
  }
  .aboutme-stage2__hello {
    width: 60%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2rem;
  }
  .aboutme-stage2__label {
    width: 48%;
    margin: 1rem 0;
    padding: 1rem;
  }
  .modal {
    max-width: 1000px;
  }
  .modal__album-name {
    font-size: 4.5rem;
  }
  .modal__album-cover {
    width: 320px;
    height: 320px;
  }
  .modal__album-cover--bg1 {
    width: 270px;
    height: 270px;
  }
  .modal__album-cover--bg2 {
    width: 270px;
    height: 270px;
  }
  .mod-player {
    font-size: 2.2rem;
  }
  .mod-song {
    font-size: 2.2rem;
  }
  .slider-desctp__bg {
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin: 1rem 2rem;
    -webkit-box-shadow: 5px 5px 10px black;
            box-shadow: 5px 5px 10px black;
  }
  .slider-desctp__bg--1 {
    background-image: url("../img/musician1-l.jpg");
  }
  .slider-desctp__bg--2 {
    background-image: url("../img/musician2-l.jpg");
  }
  .slider-desctp__bg--3 {
    background-image: url("../img/musician3-l.jpg");
  }
  .slider-desctp__bg--4 {
    background-image: url("../img/musician4-l.jpg");
  }
  .slider-desctp__bg--5 {
    background-image: url("../img/musician5-l.jpg");
  }
}

@media (min-width: 1000px) {
  .albums__album {
    width: 460px;
    height: 460px;
  }
  .albums .album {
    width: 460px;
    height: 460px;
  }
}

@media (min-height: 460px) {
  .header__heading {
    margin-top: 10vh;
  }
  .header__btn {
    bottom: 10%;
  }
}

@media (min-height: 550px) {
  .header__heading {
    margin-top: 20vh;
  }
  .header__btn {
    bottom: 15%;
  }
}

@media (min-height: 750px) {
  .header__heading {
    margin-top: 30vh;
  }
  .instrument {
    height: 70%;
  }
}

@media (min-height: 1200px) {
  .header__heading {
    margin-top: 35vh;
  }
  .instrument {
    height: 50%;
  }
}
/*# sourceMappingURL=main.css.map */